<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div class="container">
      <form action="/searchingteacher"   >
   <h3>SEARCH  TEACHER</h3>
   
    <hr>
 
    <label for="id"><b>ID</b></label>
    <input type="number" placeholder="type ID to be searched" name="id" id="id" required>

    <button type="submit" class="registerbtn">SEACRH TEACHER</button>
    <p><a href="./index2" style="color:black">BACK TO HOME PAGE</a></p>
    <br>

    {{#if msg1}}
    <h3>Data found</h3>
    {{/if}}
    
     {{#if msg2}}
     <h3>Data Not Found!</h3>
     {{/if}}
     </form>
  </div>
</body>
</html>